* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(219, 225, 230);
}
section {
  border: 1px solid #61B0FA;
  border-radius:2%;
  margin:5px;
} 
ul{
  display: flex;
  justify-content: space-evenly;
  flex-direction:row;
  width:100%;
  list-style-type: none;
  padding: 0;
}
h1{
  color: #cc992c;
  font: 88px/66px 'Vollkorn', serif;
  text-transform: uppercase;
  letter-spacing: 12px;
  font-weight: 700;
  margin-top: 2em;
}

h2{
  font: italic 2.5em 'Lora', Georgia, serif;
  color: #614017;
}
h3, li, p{
  font: italic 1.2em 'Lora', Georgia, serif;
  text-transform: none;
}
img, #div-header, h2, h3, section{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
main {
  display:flex;
  flex-direction: column;
}
footer{
  color: #cc992c;
}

.product i, h2{
  line-height: 1.5;
  display: block;
}
footer i{
  color: #cc992c;
}
.product{
  padding: 2em;
}
.icon{
  font-size: 2.2em;
}
.pointer{
  cursor: pointer;
  font-size: 2em;
  list-style-type: none;
  display: inline-block;
  margin-right: 1em;
  color:  #EDF1F5;
}
.navbar{
  display:block;
  background-color: #1E5994;
  font-style:bold;
  text-align: right;
  padding: 1em;
}
#thombnail{
  font-size: 6em;
}

#profile-pic{
  border-radius: 50px;

}


/*
For any screen larger than 400px
*/
@media screen and (min-width: 400px) {

}

/*
For any screen larger than 700px
*/
@media screen and (min-width: 700px) {
  main {
  display:flexbox;

  }
  header {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
  }
  img {
    vertical-align: middle;
  }
  section {
    margin-left:5px;
    margin-right:5px;
  }
}
